
<p>
    <strong> Title:</strong>
    <%= @category.title %>
  </p>
  <!-- <% @category.disasters.each do |disaster| %> -->


  <p>

      <img src="<%= @category.photo_url %>"/>
    </p>

    <p>
      <%= category.title %>
    </p>
    <p>
  <!-- <%= link_to 'Delete Category', category_disaster_path(disaster.category, disaster),
  method: :delete,
  data: { confirm: 'Are you sure?' } %>
</p>
<% end %> -->
