<h1>Listing Disasters in this Category</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Photo</th>
  </tr>

  <% @disasters.each do |disaster| %>
    <tr>
      <td><%= disaster.title %></td>
      <td><%= disaster.photo_url%></td>
      <td><%= link_to 'Show', disaster_path(disaster) %></td>
    </tr>
  <% end %>
</table>
